@charset "utf-8";
html{
    height: 100%;
}

*{
    float:none;
    position: static;
}

img{
    max-width: 100%;
    height: auto;
}
body{
    font-family: "Avenir Next";
    background-color: rgb(103, 202, 248);
    min-height: 100%;
}

h1 {
    font-size:100px;
    text-align:center;   
}
.header{
    height: 100px;
}

.main{
    
    height: 100%;
    padding: 20px;
    text-align: center;
    
    #stamp {
        margin:auto;
        height: 100%;
        width: 100%;
        table-layout: fixed;  

    }
}

.footer{
    background-color: rgb(243, 248, 246);
    height: 100px;
    width: 100%;
    
}

@media screen and (max-width:480px) {
    h2{
        font-size:30px;
        text-align:center; 
    }
    img{
        height: 50%;
        width: 100%;
    }
    #stamp {
        margin:auto;        
        width: 100%;
        table-layout: fixed;
}
