@charset "utf-8";
html{
    height: 100%;
}

*{
    float:none;
    position: static;
}
body{
    font-family: "Avenir Next";
    background-color: rgb(103, 202, 248);
    min-height: 100%;
}

.header{
    height: 100px;
}
h1 {
    font-size:50px;
    text-align:center;   
}

.main{
    
    height: 100%;
    text-align: center;
    
    #stamp {
        margin:auto;
        height: 100%;
        width: 100%;
        table-layout: fixed;  

    }
}

.footer{
    background-color: rgb(243, 248, 246);
    height: 100px;
    width: 100%;
}

@media screen and (max-width:480px) {
    h1{
        font-size:50px;
    }

}
